<body style="background: beige;">
<div class="container">
    <h1 style="-webkit-text-fill-color: black;">Weather </h1>
        <button style="margin-top: 10px;"><a href="#/login">Logout</a></button>
            <div class="weather-card">
                <div class="card-header text-center">
                    <h2 style="margin-top: 10px ;">{{city}}</h2>
                    <p><img src="{{iconURL}}" alt="weather image"></p>
                </div>
                <div class="card-body">
                    <p class="card-text">Summary: {{summary}}</p>
                    <p class="card-text">Temperature: {{temperature}} °C</p>
                    <p class="card-text">Feels-like: {{feelsLiketemp}} °C</p>
                    <p class="card-text">Pressure: {{pressure}} hPa</p>
                    <p class="card-text">Humidity: {{humidity}}%</p>
                </div>
            </div>
        

    
</div>
</body>


